USE [master]
GO
/****** Object:  Database [StoreMS]    Script Date: 29/11/2023 11:59:53 pm ******/
CREATE DATABASE [StoreMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StoreMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreMS]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[LoyaltyPoints] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[LoyaltyPoints] [int] NULL,
	[OldName] [nvarchar](255) NULL,
	[OldEmail] [nvarchar](255) NULL,
	[OldLoyaltyPoints] [int] NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExceptionLog]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](255) NULL,
	[FunctionName] [nvarchar](255) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCard]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CardCode] [nvarchar](50) NULL,
	[Balance] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiftCardAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiftCardAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CardCode] [nvarchar](50) NULL,
	[Balance] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[OldCardCode] [nvarchar](50) NULL,
	[OldBalance] [decimal](18, 2) NULL,
	[OldIsActive] [bit] NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductsList] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductsList] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[OldProductsList] [nvarchar](max) NULL,
	[OldTotalAmount] [decimal](18, 2) NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[OldName] [nvarchar](255) NULL,
	[OldDescription] [nvarchar](max) NULL,
	[OldPrice] [decimal](18, 2) NULL,
	[OldQuantity] [int] NULL,
	[OldCategory] [nvarchar](50) NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderID] [int] NULL,
	[GiftCardID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[LoyaltyPrice] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderID] [int] NULL,
	[GiftCardID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[OldCustomerID] [int] NULL,
	[OldOrderID] [int] NULL,
	[OldGiftCardID] [int] NULL,
	[OldAmount] [decimal](18, 2) NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[Role] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAudit]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[Role] [nvarchar](50) NULL,
	[OldName] [nvarchar](255) NULL,
	[OldUsername] [nvarchar](50) NULL,
	[OldPassword] [nvarchar](255) NULL,
	[OldIsActive] [bit] NULL,
	[OldRole] [nvarchar](50) NULL,
	[AuditDateTime] [datetime] NULL,
	[Action] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'Electronics')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (1002, N'Food')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (1003, N'Clothing')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [Email], [LoyaltyPoints], [CreatedAt], [UpdatedAt]) VALUES (5, N'Customer1', N'customer1@gmail.com', 1000, CAST(N'2023-11-20T01:08:34.643' AS DateTime), CAST(N'2023-11-20T01:08:40.580' AS DateTime))
INSERT [dbo].[Customer] ([ID], [Name], [Email], [LoyaltyPoints], [CreatedAt], [UpdatedAt]) VALUES (6, N'Umer Ghaus', N'umer@gmail.com', 2000, CAST(N'2023-11-23T04:56:51.210' AS DateTime), CAST(N'2023-11-27T23:02:18.753' AS DateTime))
INSERT [dbo].[Customer] ([ID], [Name], [Email], [LoyaltyPoints], [CreatedAt], [UpdatedAt]) VALUES (1007, N'Umer Ghaus', N'umer3@gmail.com', 3928, CAST(N'2023-11-28T01:08:45.780' AS DateTime), CAST(N'2023-11-29T20:06:04.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerAudit] ON 

INSERT [dbo].[CustomerAudit] ([ID], [Name], [Email], [LoyaltyPoints], [OldName], [OldEmail], [OldLoyaltyPoints], [AuditDateTime], [Action]) VALUES (1, N'Umer Ghaus', N'umer@gmail.com', 2000, N'Umer Ghaus', N'umer@gmail.com', 0, CAST(N'2023-11-27T23:02:18.757' AS DateTime), N'Update')
INSERT [dbo].[CustomerAudit] ([ID], [Name], [Email], [LoyaltyPoints], [OldName], [OldEmail], [OldLoyaltyPoints], [AuditDateTime], [Action]) VALUES (2, NULL, NULL, NULL, N'Umer', N'umer1@gmail.com', 12345, CAST(N'2023-11-27T23:02:35.750' AS DateTime), N'Delete')
INSERT [dbo].[CustomerAudit] ([ID], [Name], [Email], [LoyaltyPoints], [OldName], [OldEmail], [OldLoyaltyPoints], [AuditDateTime], [Action]) VALUES (3, N'Umer Ghaus', N'umer3@gmail.com', 6045, N'Umer Ghaus', N'umer3@gmail.com', 0, CAST(N'2023-11-28T01:08:45.800' AS DateTime), N'Update')
SET IDENTITY_INSERT [dbo].[CustomerAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[ExceptionLog] ON 

INSERT [dbo].[ExceptionLog] ([ID], [ClassName], [FunctionName], [ErrorMessage], [LogDate]) VALUES (1, N'ExceptionLogsPage.xaml.cs', N'LoadExceptionLogs', N'Cannot open database "StorMS" requested by the login. The login failed.
Login failed for user ''Umer_Ghaus\muham''.', CAST(N'2023-11-20T01:38:20.850' AS DateTime))
INSERT [dbo].[ExceptionLog] ([ID], [ClassName], [FunctionName], [ErrorMessage], [LogDate]) VALUES (2, N'POS.xaml.cs', N'btnConfirmOrder_MouseDown', N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Transaction_Customer". The conflict occurred in database "StoreMS", table "dbo.Customer", column ''ID''.
The statement has been terminated.', CAST(N'2023-11-24T04:25:59.193' AS DateTime))
INSERT [dbo].[ExceptionLog] ([ID], [ClassName], [FunctionName], [ErrorMessage], [LogDate]) VALUES (3, N'POS.xaml.cs', N'btnConfirmOrder_MouseDown', N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Transaction_Customer". The conflict occurred in database "StoreMS", table "dbo.Customer", column ''ID''.
The statement has been terminated.', CAST(N'2023-11-24T04:31:50.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExceptionLog] OFF
GO
SET IDENTITY_INSERT [dbo].[GiftCard] ON 

INSERT [dbo].[GiftCard] ([ID], [CardCode], [Balance], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (21, N'30KV0BL26Z7P', CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-20T01:23:35.210' AS DateTime), CAST(N'2023-11-20T01:23:35.210' AS DateTime))
INSERT [dbo].[GiftCard] ([ID], [CardCode], [Balance], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (22, N'GPRA8AR35VZ7', CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-20T01:23:35.210' AS DateTime), CAST(N'2023-11-20T01:23:35.210' AS DateTime))
INSERT [dbo].[GiftCard] ([ID], [CardCode], [Balance], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (23, N'TEXPGAX44SSP', CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-20T01:23:35.220' AS DateTime), CAST(N'2023-11-20T01:23:35.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[GiftCard] OFF
GO
SET IDENTITY_INSERT [dbo].[GiftCardAudit] ON 

INSERT [dbo].[GiftCardAudit] ([ID], [CardCode], [Balance], [IsActive], [OldCardCode], [OldBalance], [OldIsActive], [AuditDateTime], [Action]) VALUES (1, N'WIX8EDS8GNXO', CAST(5000.00 AS Decimal(18, 2)), 0, N'WIX8EDS8GNXO', CAST(5000.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-29T20:04:30.097' AS DateTime), N'Update')
SET IDENTITY_INSERT [dbo].[GiftCardAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [ProductsList], [TotalAmount], [CreatedAt], [UpdatedAt]) VALUES (26, N'Casio Calculator-1500.00-1', CAST(1500.00 AS Decimal(18, 2)), CAST(N'2023-11-24T07:28:06.667' AS DateTime), CAST(N'2023-11-24T07:28:06.667' AS DateTime))
INSERT [dbo].[Order] ([ID], [ProductsList], [TotalAmount], [CreatedAt], [UpdatedAt]) VALUES (1003, N'Lenovo Laptop-25000.00-1', CAST(25000.00 AS Decimal(18, 2)), CAST(N'2023-11-26T23:48:04.493' AS DateTime), CAST(N'2023-11-26T23:48:04.493' AS DateTime))
INSERT [dbo].[Order] ([ID], [ProductsList], [TotalAmount], [CreatedAt], [UpdatedAt]) VALUES (1004, N'Casio Calculator-1500.00-2', CAST(3000.00 AS Decimal(18, 2)), CAST(N'2023-11-27T00:16:40.517' AS DateTime), CAST(N'2023-11-27T00:16:40.517' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderAudit] ON 

INSERT [dbo].[OrderAudit] ([ID], [ProductsList], [TotalAmount], [OldProductsList], [OldTotalAmount], [AuditDateTime], [Action]) VALUES (1, NULL, NULL, N'Lenovo Laptop-100000.00-4;Casio Calculator-1500.00-12;Lenovo Laptop-100000.00-1;HP Laptop-100000.00-1;Casio Calculator-1500.00-1;Lenovo Laptop-100000.00-1;Casio Calculator-1500.00-1;HP Laptop-100000.00-1;Casio Calculator-1500.00-1;Lenovo Laptop-100000.00-1;Casio Calculator-1500.00-1', CAST(924000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:39.453' AS DateTime), N'Delete')
INSERT [dbo].[OrderAudit] ([ID], [ProductsList], [TotalAmount], [OldProductsList], [OldTotalAmount], [AuditDateTime], [Action]) VALUES (2, NULL, NULL, N'Lenovo Laptop-100000.00-1;Casio Calculator-1500.00-2;HP Laptop-100000.00-1;Lenovo Laptop-100000.00-2', CAST(403000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:39.453' AS DateTime), N'Delete')
INSERT [dbo].[OrderAudit] ([ID], [ProductsList], [TotalAmount], [OldProductsList], [OldTotalAmount], [AuditDateTime], [Action]) VALUES (3, NULL, NULL, N'Casio Calculator-1500.00-2', CAST(3000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:39.453' AS DateTime), N'Delete')
SET IDENTITY_INSERT [dbo].[OrderAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Description], [Price], [Quantity], [CreatedAt], [UpdatedAt], [Category]) VALUES (2, N'Lenovo Laptop', N'Lenovo V14 G3', CAST(25000.00 AS Decimal(18, 2)), 123, CAST(N'2023-11-19T04:41:40.517' AS DateTime), CAST(N'2023-11-29T21:47:24.490' AS DateTime), N'Electronics')
INSERT [dbo].[Product] ([ID], [Name], [Description], [Price], [Quantity], [CreatedAt], [UpdatedAt], [Category]) VALUES (1014, N'Smartphone X', N'High-end smartphone with advanced features', CAST(7990.99 AS Decimal(18, 2)), 130, CAST(N'2023-11-29T20:23:31.470' AS DateTime), CAST(N'2023-11-29T20:28:55.367' AS DateTime), N'Electronics')
INSERT [dbo].[Product] ([ID], [Name], [Description], [Price], [Quantity], [CreatedAt], [UpdatedAt], [Category]) VALUES (1015, N'Men''s Casual Shirt', N'Comfortable and stylish shirt for men', CAST(390.99 AS Decimal(18, 2)), 178, CAST(N'2023-11-29T20:23:31.470' AS DateTime), CAST(N'2023-11-29T20:56:23.563' AS DateTime), N'Clothing')
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAudit] ON 

INSERT [dbo].[ProductAudit] ([ID], [Name], [Description], [Price], [Quantity], [Category], [OldName], [OldDescription], [OldPrice], [OldQuantity], [OldCategory], [AuditDateTime], [Action]) VALUES (1, N'Baseus USB-C to USB-C cable', N'Baseus-USB-C to USB-C cable', CAST(1000.00 AS Decimal(18, 2)), 150, N'Electronics', N'Baseus USB-C to USB-C cable', N'Baseus:USB-C to USB-C cable', CAST(1000.00 AS Decimal(18, 2)), 150, N'Electronics', CAST(N'2023-11-27T22:57:13.183' AS DateTime), N'Update')
INSERT [dbo].[ProductAudit] ([ID], [Name], [Description], [Price], [Quantity], [Category], [OldName], [OldDescription], [OldPrice], [OldQuantity], [OldCategory], [AuditDateTime], [Action]) VALUES (2, NULL, NULL, NULL, NULL, NULL, N'Baseus USB-C to USB-C cable', N'Baseus-USB-C to USB-C cable', CAST(1000.00 AS Decimal(18, 2)), 150, N'Electronics', CAST(N'2023-11-27T22:58:30.740' AS DateTime), N'Delete')
INSERT [dbo].[ProductAudit] ([ID], [Name], [Description], [Price], [Quantity], [Category], [OldName], [OldDescription], [OldPrice], [OldQuantity], [OldCategory], [AuditDateTime], [Action]) VALUES (3, N'HP Laptop', N'This is HP Pavilion x-360.', CAST(100000.00 AS Decimal(18, 2)), 127, N'Electronics', N'HP Laptop', N'This is HP Pavilion x-360.', CAST(100000.00 AS Decimal(18, 2)), 117, N'Electronics', CAST(N'2023-11-27T23:16:15.200' AS DateTime), N'Update')
GO
SET IDENTITY_INSERT [dbo].[ProductAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [CreatedAt], [UpdatedAt], [LoyaltyPrice]) VALUES (27, NULL, 26, NULL, CAST(1500.00 AS Decimal(18, 2)), CAST(N'2023-11-24T07:28:06.707' AS DateTime), CAST(N'2023-11-24T07:28:06.707' AS DateTime), NULL)
INSERT [dbo].[Transaction] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [CreatedAt], [UpdatedAt], [LoyaltyPrice]) VALUES (1003, NULL, 1003, NULL, CAST(25000.00 AS Decimal(18, 2)), CAST(N'2023-11-26T23:48:04.500' AS DateTime), CAST(N'2023-11-26T23:48:04.500' AS DateTime), NULL)
INSERT [dbo].[Transaction] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [CreatedAt], [UpdatedAt], [LoyaltyPrice]) VALUES (1004, NULL, 1004, NULL, CAST(3000.00 AS Decimal(18, 2)), CAST(N'2023-11-27T00:16:40.530' AS DateTime), CAST(N'2023-11-27T00:16:40.530' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionAudit] ON 

INSERT [dbo].[TransactionAudit] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [OldCustomerID], [OldOrderID], [OldGiftCardID], [OldAmount], [AuditDateTime], [Action]) VALUES (1, NULL, NULL, NULL, NULL, 6, 25, 33, CAST(859000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:31.980' AS DateTime), N'Delete')
INSERT [dbo].[TransactionAudit] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [OldCustomerID], [OldOrderID], [OldGiftCardID], [OldAmount], [AuditDateTime], [Action]) VALUES (2, NULL, NULL, NULL, NULL, 6, 24, 34, CAST(388000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:31.980' AS DateTime), N'Delete')
INSERT [dbo].[TransactionAudit] ([ID], [CustomerID], [OrderID], [GiftCardID], [Amount], [OldCustomerID], [OldOrderID], [OldGiftCardID], [OldAmount], [AuditDateTime], [Action]) VALUES (3, NULL, NULL, NULL, NULL, NULL, 23, NULL, CAST(3000.00 AS Decimal(18, 2)), CAST(N'2023-11-29T21:39:31.980' AS DateTime), N'Delete')
SET IDENTITY_INSERT [dbo].[TransactionAudit] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [IsActive], [Role], [CreatedAt], [UpdatedAt]) VALUES (1004, N'Umer Ghaus', N'Umer', N'1234', 1, N'Admin', CAST(N'2023-11-27T00:27:25.523' AS DateTime), CAST(N'2023-11-27T00:27:25.523' AS DateTime))
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [IsActive], [Role], [CreatedAt], [UpdatedAt]) VALUES (1005, N'NewTestUser', N'cashier', N'1234', 1, N'Cashier', CAST(N'2023-11-27T00:27:59.533' AS DateTime), CAST(N'2023-11-27T23:13:36.893' AS DateTime))
INSERT [dbo].[User] ([ID], [Name], [Username], [Password], [IsActive], [Role], [CreatedAt], [UpdatedAt]) VALUES (1007, N'TestUser2', N'testuser', N'1234', 1, N'Cashier', CAST(N'2023-11-28T23:15:54.377' AS DateTime), CAST(N'2023-11-28T23:15:54.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAudit] ON 

INSERT [dbo].[UserAudit] ([ID], [Name], [Username], [Password], [IsActive], [Role], [OldName], [OldUsername], [OldPassword], [OldIsActive], [OldRole], [AuditDateTime], [Action]) VALUES (1, N'NewTestUser', N'cashier', N'1234', 1, N'Cashier', N'Test User 2', N'cashier', N'1234', 1, N'Cashier', CAST(N'2023-11-27T23:13:36.893' AS DateTime), N'Update')
INSERT [dbo].[UserAudit] ([ID], [Name], [Username], [Password], [IsActive], [Role], [OldName], [OldUsername], [OldPassword], [OldIsActive], [OldRole], [AuditDateTime], [Action]) VALUES (2, NULL, NULL, NULL, NULL, NULL, N'', N'Enter the Username', N'Enter the Password', 1, N'Admin', CAST(N'2023-11-28T22:59:28.153' AS DateTime), N'Delete')
SET IDENTITY_INSERT [dbo].[UserAudit] OFF
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Customer]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_GiftCard] FOREIGN KEY([GiftCardID])
REFERENCES [dbo].[GiftCard] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_GiftCard]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Order]
GO
/****** Object:  StoredProcedure [dbo].[GetTodaySales]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTodaySales]
AS
BEGIN
    SELECT    
    Sum(CAST(SUBSTRING(VALUE, CHARINDEX('-', VALUE, CHARINDEX('-', VALUE) + 1) + 1, LEN(VALUE)) AS INT)) TodaySales
FROM
    [Order] O
    CROSS APPLY STRING_SPLIT(O.ProductsList, ';') S
    JOIN Product P ON TRIM(SUBSTRING(VALUE, 1, CHARINDEX('-', VALUE) - 1)) = P.Name
WHERE CAST(O.CreatedAt AS DATE) = CAST(GETDATE() AS DATE);
END;
GO
/****** Object:  StoredProcedure [dbo].[ReadCategoryData]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadCategoryData]
AS
BEGIN
    WITH CategorySales AS (
    SELECT  
        C.Name AS CategoryName,
        SUM(CAST(SUBSTRING(VALUE, CHARINDEX('-', VALUE) + 1, CHARINDEX('-', VALUE, CHARINDEX('-', VALUE) + 1) - CHARINDEX('-', VALUE) - 1) AS DECIMAL(18, 2)) * 
            CAST(SUBSTRING(VALUE, CHARINDEX('-', VALUE, CHARINDEX('-', VALUE) + 1) + 1, LEN(VALUE)) AS INT)) AS TotalSales
    FROM
        [Order] O
        CROSS APPLY STRING_SPLIT(O.ProductsList, ';') S
        JOIN Product P ON TRIM(SUBSTRING(VALUE, 1, CHARINDEX('-', VALUE) - 1)) = P.Name
        JOIN Category C ON P.Category = C.Name
    GROUP BY
        C.Name
)

SELECT
    [CategoryName] AS Category,
    SUM(TotalSales) AS TotalSales,
    (SUM(TotalSales) / (SELECT SUM(TotalSales) FROM CategorySales)) * 100 AS SalesPercentage
FROM
    CategorySales
GROUP BY
    CategoryName;
END;
GO
/****** Object:  Trigger [dbo].[tr_Customer_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create an AFTER DELETE trigger for Customer
CREATE TRIGGER [dbo].[tr_Customer_Delete]
ON [dbo].[Customer]
AFTER DELETE
AS
BEGIN
    INSERT INTO CustomerAudit (Name, Email, LoyaltyPoints, OldName, OldEmail, OldLoyaltyPoints, AuditDateTime, [Action])
    SELECT
        NULL,
        NULL,
        NULL,
        Name,
        Email,
        LoyaltyPoints,
        GETDATE(),
        'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[Customer] ENABLE TRIGGER [tr_Customer_Delete]
GO
/****** Object:  Trigger [dbo].[tr_Customer_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create an AFTER UPDATE trigger for Customer
CREATE TRIGGER [dbo].[tr_Customer_Update]
ON [dbo].[Customer]
AFTER UPDATE
AS
BEGIN
    INSERT INTO CustomerAudit (Name, Email, LoyaltyPoints, OldName, OldEmail, OldLoyaltyPoints, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.Name, DELETED.Name),
        COALESCE(INSERTED.Email, DELETED.Email),
        COALESCE(INSERTED.LoyaltyPoints, DELETED.LoyaltyPoints),
        DELETED.Name AS OldName,
        DELETED.Email AS OldEmail,
        DELETED.LoyaltyPoints AS OldLoyaltyPoints,
        GETDATE(),
        'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;

	-- Update UpdatedAt column in table
    UPDATE [Customer]
    SET UpdatedAt = GETDATE()
    WHERE ID IN (SELECT ID FROM INSERTED);
END;
GO
ALTER TABLE [dbo].[Customer] ENABLE TRIGGER [tr_Customer_Update]
GO
/****** Object:  Trigger [dbo].[tr_GiftCard_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create an AFTER DELETE trigger for GiftCard
CREATE TRIGGER [dbo].[tr_GiftCard_Delete]
ON [dbo].[GiftCard]
AFTER DELETE
AS
BEGIN
    INSERT INTO GiftCardAudit (CardCode, Balance, IsActive, OldCardCode, OldBalance, OldIsActive, AuditDateTime, [Action])
    SELECT
        NULL,
        NULL,
        NULL,
        CardCode,
        Balance,
        IsActive,
        GETDATE(),
        'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[GiftCard] ENABLE TRIGGER [tr_GiftCard_Delete]
GO
/****** Object:  Trigger [dbo].[tr_GiftCard_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_GiftCard_Update]
ON [dbo].[GiftCard]
AFTER UPDATE
AS
BEGIN
    INSERT INTO GiftCardAudit (CardCode, Balance, IsActive, OldCardCode, OldBalance, OldIsActive, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.CardCode, DELETED.CardCode),
        COALESCE(INSERTED.Balance, DELETED.Balance),
        COALESCE(INSERTED.IsActive, DELETED.IsActive),
        DELETED.CardCode AS OldCardCode,
        DELETED.Balance AS OldBalance,
        DELETED.IsActive AS OldIsActive,
        GETDATE(),
        'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;

	UPDATE [GiftCard]
    SET UpdatedAt = GETDATE()
    WHERE ID IN (SELECT ID FROM INSERTED);
END;
GO
ALTER TABLE [dbo].[GiftCard] ENABLE TRIGGER [tr_GiftCard_Update]
GO
/****** Object:  Trigger [dbo].[tr_Order_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create an AFTER DELETE trigger for Order
CREATE TRIGGER [dbo].[tr_Order_Delete]
ON [dbo].[Order]
AFTER DELETE
AS
BEGIN
    INSERT INTO OrderAudit (ProductsList, TotalAmount, OldProductsList, OldTotalAmount, AuditDateTime, [Action])
    SELECT
        NULL,
        NULL,
        ProductsList,
        TotalAmount,
        GETDATE(),
        'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[Order] ENABLE TRIGGER [tr_Order_Delete]
GO
/****** Object:  Trigger [dbo].[tr_Order_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create an AFTER UPDATE trigger for Order
CREATE TRIGGER [dbo].[tr_Order_Update]
ON [dbo].[Order]
AFTER UPDATE
AS
BEGIN
    INSERT INTO OrderAudit (ProductsList, TotalAmount, OldProductsList, OldTotalAmount, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.ProductsList, DELETED.ProductsList),
        COALESCE(INSERTED.TotalAmount, DELETED.TotalAmount),
        DELETED.ProductsList AS OldProductsList,
        DELETED.TotalAmount AS OldTotalAmount,
        GETDATE(),
        'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;
END;
GO
ALTER TABLE [dbo].[Order] ENABLE TRIGGER [tr_Order_Update]
GO
/****** Object:  Trigger [dbo].[tr_Product_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Product_Delete]
ON [dbo].[Product]
AFTER DELETE
AS
BEGIN
    INSERT INTO ProductAudit (Name, Description, Price, Quantity, Category, OldName, OldDescription, OldPrice, OldQuantity, OldCategory, AuditDateTime, [Action])
    SELECT        
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        Name,
        Description,
        Price,
        Quantity,
        Category,
        GETDATE(),
		'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [tr_Product_Delete]
GO
/****** Object:  Trigger [dbo].[tr_Product_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Product_Update]
ON [dbo].[Product]
AFTER UPDATE
AS
BEGIN
    INSERT INTO ProductAudit (Name, Description, Price, Quantity, Category, OldName, OldDescription, OldPrice, OldQuantity, OldCategory, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.Name, DELETED.Name),
        COALESCE(INSERTED.Description, DELETED.Description),
        COALESCE(INSERTED.Price, DELETED.Price),
        COALESCE(INSERTED.Quantity, DELETED.Quantity),
        COALESCE(INSERTED.Category, DELETED.Category),
        DELETED.Name AS OldName,
        DELETED.Description AS OldDescription,
        DELETED.Price AS OldPrice,
        DELETED.Quantity AS OldQuantity,
        DELETED.Category AS OldCategory,
        GETDATE(),
		'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;

	-- Update UpdatedAt column in table
    UPDATE [Product]
    SET UpdatedAt = GETDATE()
    WHERE ID IN (SELECT ID FROM INSERTED);
END;
GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [tr_Product_Update]
GO
/****** Object:  Trigger [dbo].[tr_Transaction_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create an AFTER DELETE trigger for Transaction
CREATE TRIGGER [dbo].[tr_Transaction_Delete]
ON [dbo].[Transaction]
AFTER DELETE
AS
BEGIN
    INSERT INTO TransactionAudit (CustomerID, OrderID, GiftCardID, Amount, OldCustomerID, OldOrderID, OldGiftCardID, OldAmount, AuditDateTime, [Action])
    SELECT
        NULL,
        NULL,
        NULL,
        NULL,
        CustomerID,
        OrderID,
        GiftCardID,
        Amount,
        GETDATE(),
        'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[Transaction] ENABLE TRIGGER [tr_Transaction_Delete]
GO
/****** Object:  Trigger [dbo].[tr_Transaction_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Transaction_Update]
ON [dbo].[Transaction]
AFTER UPDATE
AS
BEGIN
    INSERT INTO TransactionAudit (CustomerID, OrderID, GiftCardID, Amount, OldCustomerID, OldOrderID, OldGiftCardID, OldAmount, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.CustomerID, DELETED.CustomerID),
        COALESCE(INSERTED.OrderID, DELETED.OrderID),
        COALESCE(INSERTED.GiftCardID, DELETED.GiftCardID),
        COALESCE(INSERTED.Amount, DELETED.Amount),
        DELETED.CustomerID AS OldCustomerID,
        DELETED.OrderID AS OldOrderID,
        DELETED.GiftCardID AS OldGiftCardID,
        DELETED.Amount AS OldAmount,
        GETDATE(),
        'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;
END;
GO
ALTER TABLE [dbo].[Transaction] ENABLE TRIGGER [tr_Transaction_Update]
GO
/****** Object:  Trigger [dbo].[tr_User_Delete]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create an AFTER DELETE trigger for User
CREATE TRIGGER [dbo].[tr_User_Delete]
ON [dbo].[User]
AFTER DELETE
AS
BEGIN
    INSERT INTO UserAudit (Name, Username, Password, IsActive, Role, OldName, OldUsername, OldPassword, OldIsActive, OldRole, AuditDateTime, [Action])
    SELECT
        NULL,
        NULL,
        NULL,
        NULL,
        NULL,
        Name,
        Username,
        Password,
        IsActive,
        Role,
        GETDATE(),
        'Delete'
    FROM
        DELETED;
END;
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [tr_User_Delete]
GO
/****** Object:  Trigger [dbo].[tr_User_Update]    Script Date: 29/11/2023 11:59:54 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_User_Update]
ON [dbo].[User]
AFTER UPDATE
AS
BEGIN
    INSERT INTO UserAudit (Name, Username, Password, IsActive, Role, OldName, OldUsername, OldPassword, OldIsActive, OldRole, AuditDateTime, [Action])
    SELECT
        COALESCE(INSERTED.Name, DELETED.Name),
        COALESCE(INSERTED.Username, DELETED.Username),
        COALESCE(INSERTED.Password, DELETED.Password),
        COALESCE(INSERTED.IsActive, DELETED.IsActive),
        COALESCE(INSERTED.Role, DELETED.Role),
        DELETED.Name AS OldName,
        DELETED.Username AS OldUsername,
        DELETED.Password AS OldPassword,
        DELETED.IsActive AS OldIsActive,
        DELETED.Role AS OldRole,
        GETDATE(),
        'Update'
    FROM
        INSERTED
    LEFT JOIN
        DELETED ON INSERTED.ID = DELETED.ID;

	-- Update UpdatedAt column in User table
    UPDATE [User]
    SET UpdatedAt = GETDATE()
    WHERE ID IN (SELECT ID FROM INSERTED);
END;
GO
ALTER TABLE [dbo].[User] ENABLE TRIGGER [tr_User_Update]
GO
USE [master]
GO
